:root {
    --cube-width: 40vw;
    --face-margin: 3px;
    --layer-count: 3;
}

.cube {
    position: relative;
    width: calc(var(--sticker-size) * 4 * var(--layer-count) + var(--face-margin) * 8);
    height: calc(var(--sticker-size) * 3 * var(--layer-count) + var(--face-margin) * 6);
    --sticker-size: calc((var(--cube-width) - var(--face-margin) * 6) / (var(--layer-count) * 4));
}
.face {
    float: left;
    position: relative;
    width: calc(var(--sticker-size) * var(--layer-count));
    height: calc(var(--sticker-size) * var(--layer-count));
    margin: var(--face-margin);
}
.sticker {
    float: left;
    width: var(--sticker-size);
    height: var(--sticker-size);
    border: 0.5px solid black;
    box-sizing: border-box;
}
.U {
    background-color: white;
}
.F {
    background-color: rgb(0, 182, 0);
}
.R {
    background-color: red;
}
.B {
    background-color: blue;
}
.L {
    background-color: orange;
}
.D {
    background-color: yellow;
}