.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.center {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.app-container {
    width: 100dvw;
    height: 100dvh;
}

.scramble-container {
    background-color: #1e1e1e;
}
.scramble {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 2rem;
    padding: 1em;
}

.scramble-type-container {
    background-color: #2e2e2e;
}
.scramble-type {
    font-size: 1.125rem;
    padding: 0.25em;
    text-align: center;
}

.interactive-container {
    flex: 1;
}

.times-container {
    width: 30ch;
    background-color: #999;
}

.timer-tools-container {
    flex: 1;
    background-color: #d9d9d9;
}

.timer-container {
    flex: 2;
    user-select: none;
}
.time {
    color: #000;
    font-size: 8rem;
    text-align: center;
}
.quick-stat-container .quick-stat {
    text-align: center;
    font-size: 3rem;
    color: #000;
}

.tools-container {
    flex: 1;
    background-color: #b9b9b9
}

@media only screen and (max-width: 40rem) {
    .interactive-container {
        flex-direction: column-reverse;
    }
    .times-container {
        height: 10rem;
        width: auto;
    }
}