body {
    overflow: hidden;
}

#solution-editor {
    position: absolute;
    width: 50%;
    right: 0px;
    height: calc(100% - var(--navbar-height));
    background-color: #333;
    color: #ccc;
    box-sizing: border-box;
    overflow: scroll;
}

#solution-editor h3 {
    font-size: 1.5em;
    padding: 0px;
    margin: 0 0 0.5em 0;
}

#solution-editor .section {
    border: 1px solid #999;
    padding: 1em;
}
#solution-editor select, #solution-editor button {
    background-color: #333;
}

#cube-container {
    position: absolute;
    width: 50%;
    height: calc(100% - var(--navbar-height));
}
#cube-container .cube {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}