body {
    height: 100vh;
}

#solution-editor-container {
    display: flex;
    flex: 1;
}

#solution-editor {
    height: calc(100vh - var(--navbar-height));
    background-color: #333;
    color: #ccc;
    box-sizing: border-box;
    overflow: scroll;
    flex: 1;
}

#solution-editor h3 {
    font-size: 1.5em;
    padding: 0px;
    margin: 0 0 0.5em 0;
}

#solution-editor .section {
    border: 1px solid #999;
    padding: 1em;
}
#solution-editor select, #solution-editor button {
    background-color: #333;
}

#cube-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}